<figure class="column c-one-third right-side">
          <div class="right-holder">
            <div class="right-holder">
              <h2>Полезные сслыки</h2>
              <ul class="archives">
                <% @news_menu.menu_items.order(:position).each do |menu_item| %>  
                   <li> <%= link_to menu_item.title, menu_item.link %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </figure>