/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block
}
mark, rp, rt, ruby, summary, time {
	display:inline
}
/* Global properties */
body {
	font:11px/16px DejaVu Sans;
	color:#414141;
	background:#eaeaea;
	max-width:2200px;
	margin:0 auto;
}
html, body {
	height:100%;
}
fieldset {
	border:0
}
h2 {
	font-weight: 700;
}
a {
	color: #c0306f;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/* form defaults */
input, select, textarea {
	font-family:DejaVu Sans;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
	color:#393939;
	margin:0;
	padding:0
}
/* Global Structure = */
.wrapper {
	max-width:100%;
}
.container {
	margin:0 auto;
	max-width:960px;
	line-height:18px;
}
.container:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.sep-line {
	height:3px;
	background:#c0306f;
	border:0;
	width:100%;
	margin:0 auto 20px;
}
.container.footer-mid {
	padding-top:20px;
	position:relative;
	z-index:100;
}
.container.footer-mid h2 {
	margin-bottom:10px;
	font-size:40px;
	line-height:40px;
}
.container.footer-mid p {
	margin:0 0 15px;
	color:#727272;
}
/*------ Start CSS for 960 grid -----*/
.grid:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
.grid {
	overflow:hidden;
	margin-left:-25px;
}
.grid-holder {
	overflow:hidden;
}
.grid .column {
	float: left;
	min-height: 1px;
	margin:0 0 25px 25px;
}
/*------ #2 column--------- */
.c-one-half {
	width: 465px;
}
/*------ #3 column--------- */
.c-one-third {
	width: 303px;
}
/*------ #4 column--------- */
.c-one-fourth {
	width: 220px;
}
/*------ #5 column--------- */
.c-one-fifth {
	width: 177px;
}
/*------ #6 column--------- */
.c-one-sixth {
	width: 145px;
}
/*------ #3-4 column--------- */
.c-three-fourth {
	width: 632px;
}
/*------ #3-4 column--------- */
.c-fourth-full {
	width:960px;
}
/*------ End CSS for grid -----*/

/* aside */

/* Header */
#top-bar {
	border-top:5px solid #8c093c;
	height:25px;
	position:relative;
	z-index:200;
}
#top-bar .container {
	height: 16px;
	padding: 6px 0;
	position:relative;
}
.top-nav{
	text-align:right;
	margin:0 120px 0 0;
	list-style:none;
	line-height:13px;
}
.top-nav li:first-child {
	background:none;
}
.top-nav li {
	display:inline-block;
	padding-left:15px;
	margin-left:10px;
	background:url("../images/sep-line.png") no-repeat 0 3px;
}
.top-nav li a {
	color:#fff;
}
#logo {
	background:url(../images/logo.png) no-repeat;
	margin:0;
	text-indent: -9999px;
	width:184px;
	height:38px;
	float:left;
}
#logo a {
	display:block;
	height:100%;
}
#main-header {
	background: rgb(000, 000, 000);
	background: rgba(000, 000, 000, 0.7);
	position:absolute;
	width:100%;
	z-index:100;
	margin-top:10px;
	padding:14px 0;
	max-width:2200px;
}
#main-header .container{
	padding:14px 0 0;
	border-top:1px solid #494242;
	border-bottom:1px solid #494242;
	position:relative;
}
#banner {
	margin:0;
	position:relative;
	overflow:hidden;
}
#banner img {
	height:111%;
	width:100%;
}
.curves{
	position:absolute;
    z-index: 99;
	bottom:0;
	left:0;
	width:100%;
	height:209px;
}
.curves-bg1{
	background:url(../images/curves.png) no-repeat left center;
}
.curves-bg2{
	background:url(../images/curves2.png) no-repeat left center;
}
.curves-holder{
	position:relative;
}
.difference {
	width:37%;
	position:absolute;
	bottom:256px;
	left:0;
	z-index:99;
	background: rgb(000, 000, 000);
	background: rgba(000, 000, 000, 0.7);
}
.difference .box {
	width:200px;
	float:right;
	padding:15px 0;
}
.difference .box h3 {
	font-size:22px;
	font-weight:normal;
	line-height:32px;
	color:#fff;
	margin:0;
}
.difference .box h3 span {
	font-size:30px;
	font-weight:bold;
}
.slide-box {
	width:100%;
	position:relative;
	height:950px;
}
.slide-box ul {
	margin:0;
	padding:0;
	list-style:none;
	width:100% !important;
}
.slide-box ul li {
	padding:0;
	position:relative;
	width:100% !important;
	text-align:center;
	height:840px !important;
}
.pagenatine-1 {
	width:55%;
	position:absolute;
	right:5px;
	z-index:99;
	bottom:222px;
}
#prev2, #next2 {
	position:absolute;
	bottom:30px;
	width:23px;
	height:23px;
	display:block;
	font-size:0;
	line-height:0;
}
#prev2 {
	background:url(../images/banner-arrows.png) no-repeat left top;
	left:5px;
}
#next2 {
	background:url(../images/banner-arrows.png) no-repeat right top;
	left:32px;
}
.slide-info {
	width:55%;
	position:absolute;
	right:0;
	padding:25px 0;
	bottom:142px;
	background: rgb(140, 9, 60);
	background: rgba(140, 9, 60, 0.8);
}
.slide-info .left {
	width:230px;
	padding:0 0 0 30px;
	float:left;
	color:#fff;
	font-size:12px;
	text-align:left;
}
.slide-info .left h3 {
	font-size:20px;
	font-weight:normal;
	line-height:32px;
	color:#fff;
	margin:0 0 10px 0;
	letter-spacing:1px;
}
.slide-info .left h3 span {
	font-size:40px;
	font-weight:bold;
}
.slide-info .left p {
	margin:0;
	text-align:left;
}
.slide-info .right {
	width:400px;
	float:left;
	color:#fff;
	font-size:12px;
	text-align:left;
	margin-left:30px;
}
.slide-info .right h4 {
	font-size:18px;
	font-family: DejaVu Sans;
	margin:0 0 10px 0;
	font-weight:normal;
	letter-spacing:1px;
}
.slide-info .right .date {
	display:block;
	font-size:12px;
	margin-bottom:10px;
}
.slide-info .right p {
	margin:0;
}
.inner-baner {
	max-height:400px;
}
.inner-baner img {
	margin-bottom:-3px;
}
#main-nav {
	float:right;
	font-size:14px;
}
#main-nav ul {
	margin:0;
	padding:0;
	list-style:none;
	font-family:DejaVu Sans;
}
#main-nav ul li:first-child {
	margin:0;
}
#main-nav ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#main-nav li {
	float:left;
	position:relative;
	padding-bottom:16px;
}
#main-nav li.active a{
	color:#C0306F;
}
#main-nav li a:hover{
	color:#C0306F;
}
#main-nav li.active li a{
	color:#fff !important;
}
#main-nav li.active li a:hover{
	color:#000 !important;
}
#main-nav li ul li.active a{
	background:#c0306f !important;
}
#main-nav li:hover a{
	text-decoration:none;
}
#main-nav li:hover ul {
	display:block;
}
#main-nav li ul {
	margin:0;
	padding:0;
	min-width:191px;
	list-style:none;
	position:absolute;
	top:48px;
	left:0;
	display:none;
}
#main-nav li ul li {
	float:left;
	min-width:191px;
	padding-bottom:0;
}
#main-nav li ul li a {
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.6);
	text-shadow:none;
	margin:0 0 1px 0;
	color:#000;
}
#main-nav li.active ul li a{
	color:#000 !important;
}
#main-nav li.active ul li a:hover{
	color:#fff !important;
}
#main-nav li.active ul li.active a{
	color:#fff !important;
}
#main-nav li ul li a:hover {
	color:#fff;
	background:#eb5094 !important;
}
#main-nav li a {
	display: block;
	color: #fff;
	padding: 9px 15px;
	margin: 2px;
	letter-spacing: 1px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.mian-nav-list {
	display:none;
	margin-bottom: 12px;
	padding: 5px;
	width: 100%;
	background: rgba(255, 255, 255, 0.8);
}
#main-nav li.mega-item{
	position:inherit;
}
#main-nav li:hover .mega-menu{
	display:block;
}
.mega-menu{
	min-width:191px;
	list-style:none;
	position:absolute;
	top:63px;
	left:0;
	display:none;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8);
	padding:10px;
	width:100%;
	color:#6b6b6b;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	border-top:3px solid #8c093c;
}
#main-nav li .mega-menu ul li.active a{
	background:none !important;
	color:#C0306F; 
}
#main-nav li .mega-menu ul{
	display:block;
	position:static;
	top:0;
}
#main-nav li .mega-menu ul li{
	float:none;
	background:url(../images/menu-bulets.png) no-repeat left;
}
#main-nav li .mega-menu ul li a{
	color:#494949;
	background:none;
	padding:4px 20px;
	font-size:11px;
	font-family:DejaVu Sans;
}
#main-nav li .mega-menu ul li a:hover{
	background:none !important;
	color:#d51c67 !important;
}
#main-nav li .mega-menu ul li.active a, .nav-list .title4 a.active{
	color:#d51c67 !important;
}
.mega-menu p{
	margin:0;
}
.mega-menu .column{
	margin-bottom:0;
}
.mega-menu img{
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
	margin-bottom:2px;
	margin-top:2px;
}
.mega-menu a img:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;
}
/* Start content CSS */
.container h2, .footerbox h3{
	font-weight:normal;
	line-height: 30px;
	margin: 0 0 20px 0;
	font-size:30px;
	font-family: DejaVu Sans;
	color:#414141;
}
.container h3{
	font-weight:normal;
	line-height: 37px;
	margin: 0 0 20px;
	font-size:24px;
	font-family: DejaVu Sans;
}
.footerbox h3 {
	color:#fff;
	font-size:23px;
}
ul.innerslide {
	margin:0;
	padding:0;
	list-style:none;
}
ul.innerslide li {
	position:relative;
	overflow:hidden;
	float:left;
	padding:0 0 0 0;
	width:100%;
}
ul.innerslide li img {
	width:100%;
	float:left;
}
.col-img-holder {
	position:relative;
	overflow:hidden;
}
.col-img-holder img {
	float:left;
	width:100%;
}
.inner-slider {
	position:relative;
}
.inner-slider h2{
	font-size:30px;
	line-height:30px;
}
ul.innerslide li .caption {
	position:absolute;
	bottom:0;
	left:0;
	padding:10px;
	width:100%;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.6);
}
ul.innerslide li .caption p {
	margin:0;
	font-size:13px;
	color:#2e2b30;
}
.sml-pagination {
	position:absolute;
	top:10px;
	right:2px;
	width:48px;
}
#sml-next, #sml-prev, #sml-next-1, #sml-prev-1 {
	width:23px;
	height:23px;
	font-size:0;
	line-height:0;
	display:block;
}
#sml-next, #sml-next-1 {
	float:left;
	background:url(../images/small-arrows.png) no-repeat left top;
}
#sml-prev, #sml-prev-1 {
	float:right;
	background:url(../images/small-arrows.png) no-repeat right top;
}
.post-bar img {
	width:100%;
}
.more-btn {
	padding:6px;
	display:inline-block;
	background:#c0306f;
	color:#fff;
	font-weight:bold;
	font-style:italic;
	border:0;
	cursor:pointer;
	margin-bottom:5px;
	cursor:pointer;
}
.more-btn:hover {
	background:#eb5094;
	text-decoration:none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.item-holder {
	position: relative;
	background: #fff;
	margin-bottom:25px;
}
.item-holder:before, .item-holder:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width:300px;
	background: rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.item-holder:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}
.item-holder img {
	margin:0 0 -5px;
	width:100%;
}
.item-holder:hover img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
	-webkit-transition: all 0.3s ease-in-out 0.2s;
	-moz-transition: all 0.3s ease-in-out 0.2s;
	-o-transition: all 0.3s ease-in-out 0.2s;
	transition: all 0.3s ease-in-out 0.2s;
}
.inner-holder {
	position:relative;
	overflow:hidden;
}
.item-price {
	position:absolute;
	bottom:38px;
	left:0;
	text-align:center;
	font-weight:bold;
	font-size:18px;
	padding:10px;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.6);
	color:#C0306F;
	font-style:normal;
	width:100%;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	box-shadow:0 1px 5px rgba(0, 0, 0, 0.3);
}
.price-cut {text-decoration:line-through;}

.sale-ribbon {
	background:url(../images/sale-img.png) no-repeat;
	width:88px;
	height:82px;
	font-size:0;
	line-height:0;
	position:absolute;
	top:0;
	left:0;
}
.new-ribbon{
	background:url(../images/new-sticker-icon.png) no-repeat;
	width:88px;
	height:82px;
	font-size:0;
	line-height:0;
	position:absolute;
	top:22px;
	left:22px;
}
.comm-btn {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}
.comm-btn a {
	float:left;
	width:50%;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	line-height:38px;
	text-indent:6%;
}
.cart-btn {
	background:url("../images/cart-icon.png") no-repeat 13% 7px #B72E6A;
}
.add-btn {
	background:url("../images/add-icon.png") no-repeat 11% 7px #2b2b2b;
}
/* footer */
#footer {
	background:url(../images/footer-pattern.jpg);
	font-family:DejaVu Sans;
}
.footer-top {
	background:url(../images/footer-pattern.jpg);
	min-height:333px;
}
.footerbox {
	padding:20px 0;
	width:100%;
	color:#FFF;
	margin-top:30px;
}
.footerbox p {
	color:#e2e2e2;
	margin:0 0 15px;
	line-height:18px;
}
.headingstyle01 {
	display:block;
	margin-bottom:15px;
}
.sub-title {
	display:block;
	margin-bottom:25px;
	color:#8C093C;
}
.footerbox a {
	text-decoration:none;
	color:#FFF;
}
.blogbtn {
	background:url(../images/blog-btn.png) no-repeat;
	width:168px;
	height:168px;
	margin:82px auto 0;
	display:block;
	text-indent:-999px;
	overflow:hidden;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.blogbtn:hover {
	-webkit-transform: rotate(360deg) scale(1.3);
	-moz-transform: rotate(360deg) scale(1.3);
	-o-transform: rotate(360deg) scale(1.3);
	-ms-transform: rotate(360deg) scale(1.3);
	transform: rotate(360deg) scale(1.3);
}
.testimonials {
	margin:20px 0 15px;
}
.author-name2{
	background: url("../images/testimonials.png") no-repeat right top;
    padding:0 50px 0 0;
	display:block;
}
.getintouch {
	margin:0;
	padding:0;
}
.getintouch li {
	margin:0 0 10px;
	list-style:none;
}
.field-bg {
	padding:5px;
	list-style:none;
	width:96%;
	border:1px solid #c6c5c4;
	color:#171617;
}
.getintouch li textarea {
	height:70px;
	width:96%;
	color:#171617;
}
.sendbtn {
	background:#8c093c;
	color:#fff;
	padding:5px 10px;
	border:0;
	cursor:pointer;
}
.sendbtn:hover {
	background:#eb5094;
	text-decoration:none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.contact-box-bg{
	background:#8c093c;
	color: #fff;
    margin-top: -31px;
    position: relative;
    z-index: 100;
}
.conatctusul {
	float:left;
	margin:0;
	padding:0;
	font-family:DejaVu Sans;
}
.conatctusul li {
	padding:0 0 3px 18px;
	margin:0 5px 0 0;
	list-style:none;
	display:inline;
    font-size:12px;
}
.conatctusul li a {
	color:#fff;
}
.address {
	background:url(../images/contactus.png) no-repeat 0 0;
}
.telephone {
	background:url(../images/telephone.png) no-repeat 0 0;
}
.mail {
	background:url(../images/mail.png) no-repeat 0 2px;
}
.stayconnect .sub-title{
	color:#fff;
}
.stayconnect ul {
	margin:10px 0 0;
	padding:0;
}
.stayconnect ul li {
	list-style:none;
	display:inline;
}
.stayconnect ul li a {
	float:left;
	margin:0 10px 0 0;
	width:24px;
	height:24px;
	outline: none;
	text-indent: -9000px;
	position: relative;
}
.stayconnect ul li a:hover {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.stayconnect li a span {
	width: 72px;
	height: auto;
	line-height: 15px;
	left: 50%;
	margin-left: -39px;
	font-style: italic;
	font-size: 12px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	text-align: center;
	border: 4px solid #c03070;
	background:#c03070;
	text-indent: 0px;
	border-radius: 5px;
	position: absolute;
	pointer-events: none;
	bottom:35px !important;
	opacity: 0;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.stayconnect li a span:before, .stayconnect li a span:after {
	content: '';
	position: absolute;
	bottom: -11px;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #c03070;
}
.stayconnect li a span:after {
	bottom: -11px;
	margin-left: -8px;
	border-top: 7px solid #c03070;
}
.stayconnect li a:hover span {
	opacity: 0.9;
	bottom: 70px;
}
.facebook {
	background:url(../images/facebook.png) no-repeat;
}
.flickr {
	background:url(../images/flicker.png) no-repeat;
}
.twitter {
	background:url(../images/twitter.png) no-repeat;
}
.skype {
	background:url(../images/skype.png) no-repeat;
}
.linkedin {
	background:url(../images/linkedin.png) no-repeat;
}
.footermaincon {
	max-width:950px;
	color:#FFF;
	line-height:50px;
	margin:0 auto;
	font-size:12px;
	padding:7px 0;
	text-align: center;
}
.footermaincon a{
	color:#fff;
}
.footermaincon ul {
	float:right;
	margin:0;
	padding:0;
}
.footermaincon ul li {
	list-style:none;
	display:inline;
	border-left:1px solid #FFF;
	padding:0 4px 0 8px;
}
.footermaincon ul li:first-child {
	border-left:none;
}
.footermaincon ul li a {
	color:#FFF;
	text-decoration:none;
}
.footermaincon ul li a:hover {
	text-decoration:underline;
}
.footer-mid-bg{
	background:url(../images/footer-bg.jpg) center;
	padding-bottom:110px;
}
.stack {
	position:relative;
}
.stack ul {
	margin:0;
	padding:0;
	list-style:none;
}
.stack ul li {
	overflow:hidden;
	padding:0;
}
.stack ul li img {
	border:7px solid #dcdbd7;
	float:left;
	min-height:164px !important;
	min-width:279px !important;
}
#nav {
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	bottom:-23px;
	left:0;
}
#nav li {
	float:left;
	padding:0;
}
#nav a {
	font-size:0;
	line-height:0;
	margin-right:3px;
	width:10px;
	height:10px;
	float:left;
	background:#c0306f;
}
#nav a:hover, #nav a.activeSlide {
	background:#e54f91;
}

/* NINTH EXAMPLE*/

.view-ninth .content {
	background: rgba(0, 0, 0, 0.9);
	overflow: hidden;
	-webkit-transform: rotate(-33.5deg) translate(-112px, 166px);
	-moz-transform: rotate(-33.5deg) translate(-112px, 166px);
	-o-transform: rotate(-33.5deg) translate(-112px, 166px);
	-ms-transform: rotate(-33.5deg) translate(-112px, 166px);
	transform: rotate(-33.5deg) translate(-112px, 166px);
	-webkit-transform-origin: 0% 100%;
	-moz-transform-origin: 0% 100%;
	-o-transform-origin: 0% 100%;
	-ms-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: all 0.2s ease-in-out 0.3s;
	-moz-transition: all 0.2s ease-in-out 0.3s;
	-o-transition: all 0.2s ease-in-out 0.3s;
	transition: all 0.2s ease-in-out 0.3s;
}
.view-ninth h2 {
	background: transparent;
	margin-top: 5px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.view-ninth:hover .content {
	height: 38px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 0.9;
	-webkit-transform: rotate(0deg) translate(0, 0);
	-moz-transform: rotate(0deg) translate(0, 0);
	-o-transform: rotate(0deg) translate(0, 0);
	-ms-transform: rotate(0deg) translate(0, 0);
	transform: rotate(0deg) translate(0, 0);
}
/* inner-page-CSS-start */

/*------------------ 404 Page CSS Start ------------------------*/
.heading-bar {
	padding:30px 0;
	background:#a82a60;
	margin:0 0 30px;
}
.heading-bar .container h2 {
	color:#fff;
	margin:0;
	line-height:25px;
}
.full-width {
	text-align:center;
	color: #626064;
}
.big-title {
	display: block;
	font-size: 166px;
	font-weight: normal;
	line-height: 170px;
	margin: 0 0 60px;
}
.full-width p {
	font-size: 20px;
	margin: 0 0 50px;
}
/*------------------ 404 Page CSS End ------------------------*/

/*----------- Start Author Page CSS --------------*/
.author-art.main {
	border:1px solid #D4D4D4;
}
.author-inner {
	position:relative;
}
.author-inner.main {
	padding:0 20px !important;
}
.author-art p {
	color:#696969;
	font-size:13px;
	margin:0 0 15px;
	line-height:20px;
}
.author-art p a {
	color:#2e2b30;
}
.art-link {
	color:#a82a60;
	font-size:13px;
	margin:0 0 10px;
	display:block;
}
.art-link a {
	color:#a82a60;
}
.art-link a:hover {
	text-decoration:underline;
}
.author-art {
	margin-bottom:25px;
}
.title2 {
	font-size:18px;
	color:#575555;
	margin:0 0 20px;
	display:block;
	font-family: DejaVu Sans;
	font-weight:normal;
}
.title2 a {
	color:#3b342c;
}
.art-bottom {
	overflow:hidden;
	padding:10px;
	color:#a82a60;
	font-size:13px;
	border:1px solid #cfcfcf;
}
.tbs {
	margin:0;
	padding:0;
	position:absolute;
	right:10px;
	top:-60px;
	list-style:none;
	font-size:13px;
}
.tbs li {
	float:left;
	margin-left:1px;
	border:1px solid #e5e5e5;
	border-bottom:0;
	background:none;
	padding:0 !important;
}
.tbs li a {
	color:#494949;
	padding:10px 15px !important;
	display:block;
	background:#fff !important;
}
.tbs li a:hover {
	background:none;
	text-decoration:none;
}
.author-art .title {
	font-size:30px;
	font-size: 30px;
	font-weight: normal;
	line-height: 51px;
	margin: 0 0 20px;
	padding: 0 0 0 15px;
	display:block;
	background:#f5f5f5;
	color:#A82A60;
	font-family: DejaVu Sans;
	border-bottom:1px solid #e5e5e5;
}
.author-img {
	float: left;
	margin-right: 15px;
	border:1px solid #E5E5E5;
	height:92px;
	width:92px;
}
.right-side h2 {
	font-size:22px;
}
.comments {
	margin:0 0 10px;
	padding:0;
	list-style:none;
}
.comments li {
	overflow:hidden;
	margin-bottom:10px;
}
.comments li p {
	line-height:16px;
	margin:0;
}
.comments li p a {
	color:#080606;
	font-size:11px;
}
.comments-img {
	float:left;
	margin-right:8px;
}
.comments li .author-name {
	display:block;
	margin-bottom:3px;
	font-size:12px;
	font-weight:bold;
	color:#a82a60;
}
.side-gallery {
	margin: 0 0 0 -15px;
	list-style:none;
	padding:0;
}
.side-gallery li {
	margin:0 0 15px 15px;
	float:left;
}
.side-gallery li img {
	float:left;
}
.archives {
	margin:0;
	padding:0;
	list-style:none;
	line-height:22px;
}
.archives li {
	margin-bottom:10px;
	border-bottom:1px solid #d4d4d4;
	padding-bottom:10px;
}
.archives li a {
	color:#666;
	font-size: 14px;
}
.num-post {
	float:right;
	color:#a82a60;
}
.right-holder {
	margin-bottom:20px;
}
/*----------- End Author Page CSS --------------*/

/*----------- Start Blog Page CSS --------------*/
.blog-main {
	margin-bottom: 20px;
	overflow: hidden;
	font-size:14px;
	line-height:22px;
}
.blog-main p {
	margin:0 0 20px;
	line-height:18px;
}
.blog-main p a {
	color:#A82A60;
}
.blog-img {
	overflow:hidden;
	position:relative;
	margin-bottom:5px;
	width:99.7%;
	border:1px solid #d4d4d4;
}
.blog-img img {
	width:100%;
	float:left;
}
.post-date {
	position:absolute;
	top:15px;
	left:15px;
	padding:10px 15px;
	background:#b13f70;
	font-size:14px;
	color:#fff;
	font-weight:normal;
	width:30px;
	text-align:center;
}
.b-top-links {
	margin:0 0 15px;
	padding:10px 0;
	list-style:none;
	font-size:11px;
	overflow:hidden;
	border-top:1px solid #c0306f;
	border-bottom:1px solid #c0306f;
}
.b-top-links li {
	float:left;
	margin-right:20px;
	background:url(../images/blog-icon.png) no-repeat;
	padding-left:20px;
}
.b-top-links li a {
	color:#696969;
	text-decoration:none;
}
.b-top-links li a:hover {
	text-decoration:underline;
}
.b-top-links li.section {
	background-position:0px -50px;
}
.b-top-links li.design {
	background-position:0 -95px;
}
.comm-list {
	margin:21px 0 0;
	padding:0;
	list-style:none;
	overflow:hidden;
}
.comm-list label {
	color:#c03070;
	font-size:18px;
	display:block;
	margin:0 0 10px;
	font-family: DejaVu Sans;
}
.comm-list.f-width {
	width:50%;
}
.comm-list li {
	overflow:hidden;
	margin-bottom:10px;
}
.comm-field {
	width:50%;
	border:1px solid #e0e2e1;
	background:#fff;
	height:20px;
	padding:1%;
	font-style:italic;
	margin-right:2%;
	color:#858585;
}
.comm-area {
	max-width:95%;
	min-width:95%;
	width:300px;
	border:1px solid #e0e2e1;
	padding:1%;
	margin-right:2%;
	color:#858585;
	min-height:131px;
	max-height:131px;
}
.comm-area2 {
	width:235px;
} 
.contact-main .comm-list li {
	float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 31.7%;
	overflow:visible;
}
.contact-main .comm-list li.last{
	margin-right:0;
}
.contact-main .comm-list li.area-box{
	margin-right: 0;
    width: 100%;
}
.contact-main .comm-field {
	width:99.5%;
	border:1px solid #e0e2e1;
	background:#fff;
	height:35px;
	padding:1%;
	font-style:italic;
	margin-right:2%;
	color:#858585;
}
.contact-main .comm-area {
	max-width:98%;
	min-width:98%;
	width:300px;
	border:1px solid #e0e2e1;
	padding:1%;
	margin-right:2%;
	color:#858585;
	min-height:150px;
	max-height:131px;
	margin-bottom:20px;
}








.title-bar {
	position:relative;
	padding:10px 0 16px;
	border-bottom:1px solid #c0306f !important;
	margin-bottom:16px;
}
.title-bar h3 {
	font-size:24px;
	color:rgb(98, 96, 100);
	line-height:22px;
	margin:0;
	font-weight:normal;
	position:relative;
	z-index:10;
    font-family: DejaVu Sans; 
    font-weight:700;
    text-transform:uppercase;
	font-weight:normal;
}
.comments-icon {
	width: 30px;
	height: auto;
	line-height: 13px;
	right: 0;
	font-style: italic;
	font-size: 12px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	text-align: center;
	border: 4px solid #c03070;
	background:#c03070;
	text-indent: 0px;
	border-radius: 5px;
	position: absolute;
	bottom:18px !important;
	opacity: 1;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index:100;
}
.comments-icon:before, .comments-icon:after {
	content: '';
	position: absolute;
	bottom: -11px;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #c03070;
}
.comments-icon:after {
	bottom: -11px;
	margin-left: -8px;
	border-top: 7px solid #c03070;
}
.news-h {
	overflow:hidden;
	margin-bottom:15px;
	border-bottom:1px solid #ececec;
}
.news-h p {
	margin:0 0 15px;
}
/*----------- End Blog Page CSS --------------*/

/*----------- career-list-page ---------------*/
.career-list {
	margin:0 0 20px;
	padding:15px;
	list-style:none;
	background:#c03070;
	color:#fff;
	font-size:13px;
}
.career-list li {
	border-top:1px solid #fff;
	padding:10px 0;
}
.career-list li:first-child {
	border:0;
}
.career-list li strong {
	float:left;
	margin-right:5%;
	width:25%;
}
.career-list li strong span {
	float:left;
}
.services-list {
	margin:0 0 30px;
	padding:0;
	list-style:none;
	overflow:hidden;
	color:#3d3c3c;
}
.services-list li {
	margin-bottom: 5px;
}
.services-list li a {
	color:#3d3c3c;
}
.left-col-list {
	margin:0;
	padding:0;
	list-style:none;
	font-size:13px;
}
.left-col-list.f-size {
	font-size:18px;
}
.left-col-list li {
	border-top:1px solid #e7e6e6;
	margin:1px 0;
}
.left-col-list li a:hover {
	background:url(../images/left-nav-hover.jpg) no-repeat 0 14px;
	padding-left:20px;
	text-decoration:none;
	color:#c03070;
}
.left-col-list li:first-child {
	border:0;
}
.left-col-list li a {
	color:#2e2b30;
	display:block;
	padding:10px 0;
}
/*----------- career-list-page end ---------------*/

/*----------- Start Contact Page CSS --------------*/
iframe{
	margin:0 0 30px;
}
.contact-icons{
	margin:30px 0;
	padding:0;
	list-style:none;
	width:100%;
	font-style:italic;
	overflow:hidden;
}
.contact-icons li{
	width:30%;
	float:left;
	margin-bottom:15px;
	line-height:18px;
	padding-left:28px;
	background:url(../images/contact-us_icon.png) no-repeat left;
}
.contact-icons li a{
	color:#727272;
}
.contact-icons li.contact-num {
    background-position: 4px 2px;
}
.contact-icons li.contact-yoursite{
	background-position: 4px -77px;
}
.contact-icons li.contact-address{
	background-position:4px -174px;
}
.contact-icons li.contact-mail{
	background-position:4px -281px;
}
.contact-icons li.contact-fax{
	background-position:4px -380px;
}
/*----------- End Contact Page CSS --------------*/

/*----------- Start Team Detail CSS ---------*/
.status {
	display:block;
	color:#a82a60;
	font-size:18px;
	margin:0 0 8px;
}
.cat-title {
	color: #a82a60;
	display: block;
	margin: 0 0 5px;
	font-style:normal;
	font-size:14px;
}
.title-1 {
	color:#2e2b30;
	font-size:18px;
	display:block;
	margin:0 0 10px;
	font-weight:normal;
	font-family: DejaVu Sans;
}
.team-holder p {
	margin:0;
}
.team-holder .comments-img {
	border:1px solid #e5e5e5;
	width:87px;
	height:83px;
}
.team-holder .team-main .comments-img {
	width:148px;
	height:129px;
}
.team-main h3 {
	color: #2e2b30;
	font-size: 24px;
	line-height: 24px;
	margin: 0 0 15px;
	font-weight:normal;
}
/*----------- End Team Detail CSS ---------*/

.title3 {
	font-size:20px;
    font-family: DejaVu Sans;
    text-transform:uppercase;
	color: #202020;
	display: block;
	font-weight:normal;
	margin-bottom:20px;
	line-height:27px;
}
.title4 {
	font-size:30px;
    font-family: DejaVu Sans;
    color: #d51c67;
	display: block;
	font-weight:normal;
	margin-bottom:20px;
	line-height:30px;
}
.nav-list .title4 a{
	color: #2e2b30 !important;
	padding-left:0 !important;
}
.nav-list .title4 a:hover{
	color: #d51c67 !important;
}
.nav-list .title4{
	margin-bottom:0;
	font-weight:bold;
	font-size:15px;
	line-height:22px;
}
/*----------- End Contact Page CSS --------------*/

/*----------- Start Testimonials Page CSS -----------*/
.client-s {
	padding:20px 25px;
	background:#f9f9f9;
	border:1px solid #efefef;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:12px;
}
.test-holder {
	overflow:hidden;
	margin-bottom:45px;
}
.test-holder p {
	margin:0;
	padding:0;
	line-height:24px;
	color:#858585;
}
.t-author {
	float:right;
	color:#a82a60;
}
.t-author span {
	color:#878787;
	font-size:14px;
}
/*----------- End Testimonials Page CSS -----------*/

/*---------------------------- Category Page Css Start ----------------------------*/
.category-list {
	margin:0 0 30px 0;
	padding:0;
	list-style:none;
	text-align:right;
	font-size:14px;
}
.category-list li {
	display:inline;
	margin-left:20px;
}
.category-list li a {
	color:#3b342b;
	text-decoration:none;
}
.category-list li a.active {
	font-weight:bold;
	text-decoration:underline;
	color:#A82A60;
}
.category-list li a:hover {
	color:#A82A60;
}
/*---------------------------- Category Page CSS End ----------------------------*/

/*---------------------------- Product Page CSS Start ----------------------------*/
.product-tab {
	overflow:hidden;
	padding:36px 0 0 0 !important;
	position:relative;
}
.product-list {
	margin:0;
	padding:0;
	list-style:none;
}
.product-list li {
	float:left;
	font-size:14px;
	line-height:18px;
	padding:0 20px 0 0;
	color:#a82a60;
}
.product-list li span {
	color:#5c5c5c;
}
.author-inner.main-1 {

	padding:0 !important;
}
.product-tab #horizontal-tabs {
	margin-bottom:0;
}
.product-tab .tbs li.current a {
	background:#a82a60 !important;
	color:#fff;
}
.product-tab #horizontal-tabs .tabscontent {
	padding:0 15px;
}
.product-tab .tbs {
	left:-2px;
	top:-36px;
}
.product-tab h3 {
	font-size:24px;
	line-height:30px;
	font-weight:normal;
	margin:10px 0 10px 0;
	color:#a82a60;
}
.product-tab h4 {
	font-size:19px;
	line-height:25px;
	font-weight:normal;
	margin:0 0 10px 0;
	color:#a82a60;
}
.product-img {
	width:100%;
}
.product-img img {
	border:1px solid #ccc;
}
.product-detail {
	width:100%;
	font-size:12px;
	line-height:15px;
	color:#5c5c5c;
}
.product-detail p {
	margin: 0 0 25px 0;
}
.product-detail h3 {
	font-size:30px;
	line-height:34px;
	font-weight:normal;
	margin:0 0 15px 0;
	color:#a82a60;
}
.pro-price {
	font-size:18px;
	display:block;
	line-height:26px;
	color:#312d2c;
	margin:0 0 15px 0;
}
.add-cart {
	overflow:hidden;
	margin-bottom: 25px;
	width:36%;
}
.add-cart .sendbtn {
	margin:3px 0 0 0;
	font-style:italic;
}
.ratting {
	width:66px;
	position:relative;
	float:left;
	margin-right:5px;
}
.add-cart .plus, .add-cart .minus {
	width:29px;
	height:14px;
	border:1px solid #ddd;
	line-height:14px;
	text-align:center;
	color:#312d2c;
	font-size:12px;
	position:absolute;
	right:0;
}
.add-cart .plus:hover, .add-cart .minus:hover {
	text-decoration:none;
}
.add-cart .plus {
	top:0;
}
.add-cart .minus {
	bottom:0;
}
.ratting ul {
	width:32px;
	height:32px;
	margin:0 2px 0 0;
	padding:0;
	overflow:hidden;
	list-style:none;
}
.ratting ul li {
	width:30px;
	height:30px;
	border:1px solid #ddd;
	line-height:30px;
	text-align:center;
	color:#312d2c;
	font-size:15px;
}
/*---------------------------- Product Page CSS End ----------------------------*/
/*---------------------------- Portfolio Page CSS Start ----------------------------*/

.portfolio-box {
	overflow:hidden;
	font-size:11px;
	line-height:18px;
	color:#727272;
}
.portfolio-box img {
	width:100%;
	float:left;
	margin-bottom:15px;
}
.contact-box{
	width:680px !important;
}
.contact-box h2{
	color:#fff;
	font-size:25px;
}
.popular-box{
	width:197px;
	padding:11px;
	font-size:11px;
	line-height:18px;
	color:#3e3e3e;
	background:#fff;
	border-radius:3px;
	border:1px solid #ccc;
	box-shadow:0 1px 2px #ccc;
}
.popular-box p{
	margin:0;
}
.popular-box h4{
	color:#c0306f;
	font-size:14px;
	line-height:22px;
	font-weight:normal;
	margin:0 0 5px 0;
}
.popular-box img{
	float:left;
	width:100%;
	margin-bottom:5px;
}

.top-login{
	font-size:14px;
	font-weight:bold;
	line-height:32px;
	color:#fff;
	padding:0 11px;
	position:absolute;
	top:0;
	right:0;
	background:#8c093c;
	border-radius:0 0 3px 3px;
}
.top-login:hover{
	text-decoration:none;
	background:#ba2c63;
}
.top-login span{
	background:url(../images/login-basket.png) no-repeat left center;
	padding:0 0 0 25px;
	display:block;
}
/*---------------------------- Portfolio Page CSS End ----------------------------*/
/* inner-page-CSS-End*/
.grid p{
	padding: 0 30px;
	font-size: 13px;
    line-height: 21px;
}

.item-holder .content{
	color: white;
	text-align: center;
	font-size:14px;
	font-weight:bold;
	line-height:36px;
}
.c-three-fourth p{
	padding: 0px; 
}
.tabscontent p{
	padding: 0px;
}

.product-list{
	padding-bottom: 45px;
}

.footer-mid-bg{
	background: url("../images/footer-pattern.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

.footer-top{
	min-height: 275px !important;
}