
  <section class="curves-holder">
    <section class="footer-mid-bg">
      <section class="grid-holder container footer-mid">
        <section class="grid">
          <!--
          <figure class="column c-one-third">
            <h2>Text Widget</h2>
            <p>Maecenas laoreet lectus est, eget ultricies eros. Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet 
              eget ultricies eros.Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet lectus est, eget ultricies eros. fringilla.Maecenas laoreet lectus est.
              eget ultricies eros.</p>
          </figure>

          <figure class="column c-one-third">
            <h2>Text Widget</h2>
            <p>Maecenas laoreet lectus est, eget ultricies eros. Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet 
              eget ultricies eros.Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet lectus est, eget ultricies eros. fringilla.Maecenas laoreet lectus est.
              eget ultricies eros.</p>
          </figure>
          
          <figure class="column c-one-third">
            <h2>Text Widget</h2>
            <p>Maecenas laoreet lectus est, eget ultricies eros. Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet 
              eget ultricies eros.Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet lectus est, eget ultricies eros. fringilla.Maecenas laoreet lectus est.
              eget ultricies eros.</p>
          </figure>
          -->
        </section>
      </section>
      <span class="curves curves-bg2">&nbsp;</span> </section>
  </section>
  <section class="contact-box-bg">
    <section class="grid-holder container">
      <section class="grid">
        <article class="column c-three-fourth contact-box">
          <h2>Контакты</h2>
         <%=  @text_footer.where(name: "Контакты").first.value %>
        </article>

      </section>
    </section>
  </section>
  <footer id="footer">
    <div class="footermaincon">Разработал <a href="http://vk.com/dima_antonenko">Дмитрий Антоненко</a>
    </div>
  </footer>