
  <section class="curves-holder">
    <section class="footer-mid-bg">
      <section class="grid-holder container footer-mid">
        <section class="grid">
          <!--
          <figure class="column c-one-third">
            <h2>Text Widget</h2>
            <p>Maecenas laoreet lectus est, eget ultricies eros. Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet 
              eget ultricies eros.Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet lectus est, eget ultricies eros. fringilla.Maecenas laoreet lectus est.
              eget ultricies eros.</p>
          </figure>

          <figure class="column c-one-third">
            <h2>Text Widget</h2>
            <p>Maecenas laoreet lectus est, eget ultricies eros. Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet 
              eget ultricies eros.Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet lectus est, eget ultricies eros. fringilla.Maecenas laoreet lectus est.
              eget ultricies eros.</p>
          </figure>
          
          <figure class="column c-one-third">
            <h2>Text Widget</h2>
            <p>Maecenas laoreet lectus est, eget ultricies eros. Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet 
              eget ultricies eros.Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet lectus est, eget ultricies eros. fringilla.Maecenas laoreet lectus est.
              eget ultricies eros.</p>
          </figure>
          -->
        </section>
      </section>
      <span class="curves curves-bg2">&nbsp;</span> </section>
  </section>
  <section class="contact-box-bg">
    <section class="grid-holder container">
      <section class="grid">
        <article class="column c-three-fourth contact-box">
          <h2>Contact Us</h2>
          <ul class="conatctusul">
            <li class="address">123 Abington Street City of Westminster, London United Kingdom .</li>
            <li class="telephone">T : 0845 012 3456</li>
            <li class="mail"><a href="#">i@yourcompany.com</a></li>
          </ul>
        </article>
        <article class="column c-one-fourth stayconnect"> <span class="sub-title">Stay Contected</span>
          <ul>
            <li><a class="facebook" href="#"><span>Facebook</span></a></li>
            <li><a class="flickr" href="#"><span>Flicker</span></a></li>
            <li><a class="twitter" href="#"><span>Twitter</span></a></li>
            <li><a class="skype" href="#"><span>Skype</span></a></li>
            <li><a class="linkedin" href="#"><span>Linkedin</span></a></li>
          </ul>
        </article>
      </section>
    </section>
  </section>
  <footer id="footer">
    <div class="footermaincon">Разработал <a href="http://vk.com/dima_antonenko">Дмитрий Антоненко</a>
    </div>
  </footer>