 <section class="footer-top">
    <section class="grid-holder container">
      <section class="grid">
        <figure class="column c-one-third">
          <div class="footerbox">
            <h3>Career</h3>
            <strong class="headingstyle01">Position: Fashion Designer</strong>
            <p>Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at loborti a iaculis nulla          turpis sed wisi. Fusce volutpat. Etiam sodales ante id nunc. Proin ornare dignissim lacus. Nunc porttitor nunc a sem. Sed sollicitudin velit</p>
            <strong>Send your CV to:</strong><br>
            <a href="#">career@Paras.com </a></div>
        </figure>
        <figure class="column c-one-third"> <a href="blog.html" class="blogbtn">Visit Our Blog</a> </figure>
        <figure class="column c-one-third">
          <div class="footerbox">
            <h3 class="testimonials">Testimonials</h3>
            <div class="testimonils-slide"  id="s3">
              <div box-slide>
                <p>Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Aliquam aliquet, est a ullamcorper condimentum, tellus nulla fringilla elit, a iaculis nulla turpis sed wisi. Fusce volutpat. Etiam sodales ante id nunc. Proin ornare dignissim lacus. Nunc porttitor nunc a sem. Sed sollicitudin velit </p>
                <strong>Paul simon Jonathan<br>
                General Manager, Paras Software House</strong></div>
              <div box-slide>
                <p>Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Aliquam aliquet, est a ullamcorper condimentum, tellus nulla fringilla elit, a iaculis nulla turpis sed wisi. Fusce volutpat. Etiam sodales ante id nunc. Proin ornare dignissim lacus. Nunc porttitor nunc a sem. Sed sollicitudin velit </p>
                <strong>Paul simon Jonathan<br>
                General Manager, Paras Software House</strong></div>
              <div box-slide>
                <p>Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Aliquam aliquet, est a ullamcorper condimentum, tellus nulla fringilla elit, a iaculis nulla turpis sed wisi. Fusce volutpat. Etiam sodales ante id nunc. Proin ornare dignissim lacus. Nunc porttitor nunc a sem. Sed sollicitudin velit </p>
                <strong>Paul simon Jonathan<br>
                General Manager, Paras Software House</strong></div>
              <div box-slide>
                <p>Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Aliquam aliquet, est a ullamcorper condimentum, tellus nulla fringilla elit, a iaculis nulla turpis sed wisi. Fusce volutpat. Etiam sodales ante id nunc. Proin ornare dignissim lacus. Nunc porttitor nunc a sem. Sed sollicitudin velit </p>
                <strong>Paul simon Jonathan<br>
                General Manager, Paras Software House</strong></div>
            </div>
          </div>
        </figure>
      </section>
    </section>
  </section>
  <section class="curves-holder">
    <section class="footer-mid-bg">
      <section class="grid-holder container footer-mid">
        <section class="grid">
          <!--
          <figure class="column c-one-third">
            <h2>Text Widget</h2>
            <p>Maecenas laoreet lectus est, eget ultricies eros. Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet 
              eget ultricies eros.Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet lectus est, eget ultricies eros. fringilla.Maecenas laoreet lectus est.
              eget ultricies eros.</p>
          </figure>

          <figure class="column c-one-third">
            <h2>Text Widget</h2>
            <p>Maecenas laoreet lectus est, eget ultricies eros. Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet 
              eget ultricies eros.Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet lectus est, eget ultricies eros. fringilla.Maecenas laoreet lectus est.
              eget ultricies eros.</p>
          </figure>
          
          <figure class="column c-one-third">
            <h2>Text Widget</h2>
            <p>Maecenas laoreet lectus est, eget ultricies eros. Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet 
              eget ultricies eros.Aliquam ipsum nunc, tincidunt non fringilla.Maecenas laoreet lectus est, eget ultricies eros. fringilla.Maecenas laoreet lectus est.
              eget ultricies eros.</p>
          </figure>
          -->
        </section>
      </section>
      <span class="curves curves-bg2">&nbsp;</span> </section>
  </section>
  <section class="contact-box-bg">
    <section class="grid-holder container">
      <section class="grid">
        <article class="column c-three-fourth contact-box">
          <h2>Contact Us</h2>
          <ul class="conatctusul">
            <li class="address">123 Abington Street City of Westminster, London United Kingdom .</li>
            <li class="telephone">T : 0845 012 3456</li>
            <li class="mail"><a href="#">i@yourcompany.com</a></li>
          </ul>
        </article>
        <article class="column c-one-fourth stayconnect"> <span class="sub-title">Stay Contected</span>
          <ul>
            <li><a class="facebook" href="#"><span>Facebook</span></a></li>
            <li><a class="flickr" href="#"><span>Flicker</span></a></li>
            <li><a class="twitter" href="#"><span>Twitter</span></a></li>
            <li><a class="skype" href="#"><span>Skype</span></a></li>
            <li><a class="linkedin" href="#"><span>Linkedin</span></a></li>
          </ul>
        </article>
      </section>
    </section>
  </section>
  <footer id="footer">
    <div class="footermaincon">Разработал <a href="http://vk.com/dima_antonenko">Дмитрий Антоненко</a>
    </div>
  </footer>