<section class="grid-holder post-bar">
      <section class="grid">
         <figure class="column c-one-fourth">
          <h3>We'll Never Miss a Deadline</h3>
          <p>consectetuer adipiscing elit,sed diam nonummy nibh euismod tincidunt ut tincidunt ut aliquam erat ... </p>
          <a href="#" class="more-btn">read more</a> </figure>
        <figure class="column c-one-fourth">
          <h3>We'll Never Miss a Deadline</h3>
          <p>consectetuer adipiscing elit,sed diam nonummy nibh euismod tincidunt ut tincidunt ut aliquam erat ... </p>
          <a href="#" class="more-btn">read more</a> </figure>
        <figure class="column c-one-fourth">
          <h3>Modern design with a feminine touch</h3>
          <p>consectetuer adipiscing elit,sed diam nonummy nibh euismod tincidunt ut tincidunt ut aliquam erat ... </p>
          <a href="#" class="more-btn">read more</a> </figure>
        <figure class="column c-one-fourth">
          <h3>How we do all these smart stuff</h3>
          <p>consectetuer adipiscing elit,sed diam nonummy nibh euismod tincidunt ut tincidunt ut aliquam erat ... </p>
          <a href="#" class="more-btn">read more</a> </figure>
      </section>
    </section>