
    <section id="banner">
      <div class="slide-box">
        <ul id="s2">
           <% @slider.slides.each  do |slide| %>
          <li><%= image_tag slide.avatar.url(:medium) %>
            <div class="slide-info">
              <div class="left">
                <%= slide.content.html_safe %>
              </div>
              
            </div>
          </li>

        <% end  %>

        </ul>
        <div class="pagenatine-1"><a href="#" id="prev2">prev</a> <a href="#" id="next2">next</a></div>
      </div>
      <div class="difference">
        <div class="box">
          <h3><%= @slider_text %></h3>
        </div>
      </div>
    </section>
    <span class="curves curves-bg1">&nbsp;</span> </section>