  <section class="footer-top">
    <section class="grid-holder container">
      <section class="grid">
        <figure class="column c-one-third">
          <div class="footerbox">
            <h3>О компании</h3>
            <%=  @text_footer.where(name: "О компании").first.value %>
        </figure>
        <figure class="column c-one-third"> <a href="/post_categories/1" class="blogbtn">Посетите наш блог</a> </figure>
        <figure class="column c-one-third">
          <div class="footerbox">
            <h3 class="testimonials">Последние новости</h3>
            <div class="testimonils-slide"  id="s3">
            <% @posts.each do |post| %>
              <div box-slide>
                <%= post.lead %>
               </div>
             <%  end  %>
            </div>
          </div>
        </figure>
      </section>
    </section>
  </section>