<% provide(:title, @text_contacts.where(name: "Title").first.value) %>
<% provide(:description, @text_contacts.where(name: "Description").first.value) %>
<% provide(:keywords, @text_contacts.where(name: "Keywords").first.value) %>

<%= render '/layouts/header/mini_header' %>
<section class="container">
    <section class="grid-holder">
        <section class="grid w-padd">
          <figure class="column c-three-fourth">
            <article>
              <h3>Контакты</h3>
              <%= @text_contacts.where(name:"Содержимое страницы контакты").first.value.html_safe %>
            </article>
          </figure>
        </section>
      </section>
  </section>