<% provide(:title, @product_category.meta_title) %>
<% provide(:description, @product_category.meta_description) %>
<% provide(:keywords, @product_category.meta_keywords) %>

<%= render '/layouts/header/mini_header' %>

  <section class="container">
    <h2><%= @product_category.name %></h2>
    <div>
      <%= @product_category.description.html_safe %>
    </div>
    <hr class="sep-line">
   <%= render '/product_categories/blocks/products_list' %>
  </section>