
<header id="main-header">
    <section class="container">
      <h1 id="logo"><a href="/">Piona.by</a></h1>
      <nav id="main-nav">
        <ul>
      <% @main_menu.menu_items.order(:position).each do |menu_item| %>
        <% if menu_item.menu_item_id == 1  %>
         <li class="mega-item"><a href="<%= menu_item.link %>"><%= menu_item.title %></a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

      </nav>
    </section>
  </header>
