@charset "utf-8";
/* CSS Document */
#top-bar{
	border-top: 3px solid #bf0000;
}
.b-top-links {
	border-top: 1px solid #bf0000;
}
.product-tab .tbs li.current a{
	background:#bf0000 !important;
}
#main-nav li a:hover, .post-bar h3, #horizontal-tabs ul.tabs li.current, .comm-list label, #accordion h3 a, .product-detail h3,  .product-tab h3, .product-tab h4,
.product-list li, .item-price, .popular-box h4,
.author-art .title, .art-link, .art-link a, .art-bottom, .num-post, .comments li .author-name, .blog-main p a, .status, .cat-title, .t-author, .item-price,
#vertical-tabs ul.tabs li.current, .sub-title, #main-nav li.active a, .title4, #main-nav li .mega-menu ul li.active a,  #main-nav li .mega-menu ul li a:hover{
	color: #bf0000;
}
.sep-line, .more-btn, .starburst, .starburst span, .meter > span, .sendbtn, .career-list, .comments-icon, .heading-bar, #toggle-view li h3, .dropcap.color, .pagination li a.prev, .pagination li a.next, .post-date, .contact-box-bg{
	background-color:#bf0000;
}
.sale-ribbon{
	background:url(../../images/sale-img-red.png) no-repeat;
}
.top-login{
	background:#bf0000;
}
.top-login:hover{
	background:#d53939;
}
#main-nav li ul li.active a{
	background:#d53939 !important;
}
#main-nav li ul li a:hover{
	background:#d53939 !important;
}
.sendbtn:hover, .more-btn:hover, .meter, .pagination li a.prev:hover, .pagination li a.next:hover, .pagination li a.prev:hover, .pagination li a.next:hover{
	background:#d53939 !important;
}
.b-top-links {
	border-bottom: 1px solid #bf0000;
}
.left-col-list li a:hover {
	background: url(../../images/left-nav-hover-red.jpg) no-repeat 0 14px;
	color: #d53939;
}
.comments-icon {
	border:4px solid #bf0000;
}
.comments-icon:before, .comments-icon:after, .comments-icon:after {
	border-top: 7px solid #bf0000;
}
.title-bar {
	border-bottom: 3px solid #bf0000;
}
.cart-btn {
	background: url(../../images/cart-icon.png) no-repeat 13% 7px #BF0000;
}
#main-nav:hover li a:hover{
	background:transparent;
}
.stayconnect li a span{
	border: 4px solid #bf0000;
	background:#bf0000;
}
.stayconnect li a span:after,
.stayconnect li a span:before,
.stayconnect li a span:after{
	border-top: 7px solid #bf0000 ;
}
.blogbtn {
    background: url(../../images/blog-btn-red.png) no-repeat 0 0;
}
.b-top-links li {
    background: url(../../images/blog-icon-red.png) no-repeat 0 0 ;
}
#accordion .minus {
    background: url(../../images/min-icons-red.png) no-repeat;
}
#accordion .plus {
    background: url(../../images/plus-icons-red.png) no-repeat;
}
.slide-info{
	background: rgb(196, 0, 2);
	background: rgba(196, 0, 2, 0.8);
}
#prev2{
	background:url(../../images/banner-arrows-red.png) no-repeat left top;
}
#next2{
	background:url(../../images/banner-arrows-red.png) no-repeat right top;
}
#logo {
    background: url(../../images/logo4.png) no-repeat 0 0 ;
	height: 50px;
	width: 233px;}
#nav a{
	background:#c40002;
}
#nav a:hover, #nav a.activeSlide{
	background:#575757;
}
.curves-bg1{
	background:url(../../images/curves-red.png) no-repeat left center;
}
.curves-bg2{
	background:url(../../images/curves-red2.png) no-repeat left center;
}
.mega-menu{
	border-color:#BF0000;
}
#main-nav li .mega-menu ul li{
	background:url(../../images/menu-bulets3.png) no-repeat left;
}
.nav-list .title4 a:hover{
	color: #bf0000 !important;
}
#main-nav li .mega-menu ul li a:hover, #main-nav li .mega-menu ul li.active a, .nav-list .title4 a.active{
	color: #bf0000 !important;
}
.new-ribbon{
	background:url(../../images/new-sticker-icon5.png) no-repeat;
}